div.col-lg-4{
	text-align: center;
	margin-bottom: 30px;
	margin-top:30px;	
}
.marketing{
	color:#fff;
	background-color:#ccc;
	width:100%;
	height:auto;
}
.marketing .inside-marketing{
	background-color:#4956a6;
	padding-top:40px;
	border-radius:15px;
}
.marketing .inside-marketing h2{
	color:#FF5722;
	margin-top:30px;
	margin-bottom:10px;
}
.marketing .inside-marketing p{
	background-color:#1b2a85;
	padding:25px 25px 25px 25px;
	border-radius:0px 0px 15px 15px;
}
.inside-marketing .col-lg-4{
	margin:20px 0px 20px 0px;
}
.testimonial-content{
	background-color:#00796B;
	width:100%;
	height:auto;
	padding-bottom:40px;
	padding-top:20px;
}
/*testimonials css file*/
.job-post-search{
	background-color: #fff;
	padding: 5px 30px 10px 30px;
}
.job-post-search h4{
	color: #027c8D;
}
.job-post-search .row{
	margin-bottom: 10px;
}
.job-search-buttons{
	padding:10px 10px 10px 10px;
	background-color: #e5e5e5;
	height:auto;
	margin-bottom: 10px;
	border-bottom: 5px solid #2cabbd;
	overflow: auto;
}
.job-search-buttons .btn{
	
}
/* job post search pages ....*/

/* for the temparory solution */
div.carousel-caption:nth-child(1){
	margin-bottom: 140px;
}
.header-style{
	display:inline-block;
	padding: 10px 10px 10px 25px;
	background: rgba(51,51,51,0.7) none repeat scroll 0% 0%;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 5px solid #F78D12;
}
/*#myCarousel{
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
}*/
.carousel-caption{
	left:0%;
	right:0%;
}
.carousel-control{
	z-index: 1000;
}
.company-logo-allignment{
	margin-top: 15px;
	margin-bottom: 15px;
}
.logo-showcase{
	/*margin-bottom: 10px;*/
	/*background-color:#0E9FB4 ;*/
}
.logo-showcase-out{
	background-color:#753200;
	padding-top: 5px;
	padding-bottom:15px;
	color:#fff;
	/*-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);*/
}
.logo-showcase-out h2{
	border-bottom: 2px solid white;
}
body{
	color:#000;
	background-color:#F5F5F5;
}
/* header bar coding Start*/
.setting-the-navbar-right{
	min-height: 70px;	
}
.setting-the-navbar-right > li{
	padding:18px 15px;
	}
.setting-the-dropdown-menu-margin{
	margin:5%;
}

/* header bar coding End*/

/* About Us coding Start*/
.aboutus-settings{
	background-color:#0E9FB4;
	height:auto;
	width:100%;
	}
.admin-about-details{
	padding-top: 0px;
	padding-bottom:50px;
}
.admin-about-details > .col-md-4 >.aboutus-palletes{
	margin: 28px 0px;
	background-color: rgba(255, 255, 255, 0.41);
	border-radius: 10px;
	padding:20px;
}
.aboutus-palletes > center > img{
	margin-top: 20px;
}
div > h2{
	text-align: center;
}
/* About Us coding End*/

/* search bar coding Start*/
.search_bar_background{
	min-height:50px;
	width:100%;
	background-color: #0E9FB4; 
}
.search-controls{
	margin-top:10px;	
}
.search-job-button{
	margin-bottom:10px;
	width:100%
}
/* search bar coding End*/

/* footer bar coding Start */
.footer-bar > center > a{
	line-height: 70px;
	color: #fff;
}
/*
.navbar-static-top li a{
	background-color:#FFF;
}
*/

@media screen and (max-width: 770px){
	.company-logo-allignment{
		text-align: center;
	}
	.company-logo-allignment .col-sm-2{
		margin-bottom:20px;
	}
	.testimonials{
		margin-bottom:50px;
	}
}